* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body,
button,
input {
    font-family: 'Inter', sans-serif;
}

.form__container {
    border-radius: 12px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
    inline-size: 340px;
    min-block-size: 460px;
    padding-inline: 30px;
    padding-block: 50px 30px;
}

.form__main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 50px;
}

.form__button {
    padding-block: 0.75rem;
    background-color: rgb(51, 105, 243);
    color: white;
    border-radius: 8px;

}

.input__container {
    position: relative;
}

.input__label {
    color: rgb(153, 153, 153);
    left: 0;
    top: 0;
    /* padding-top: -1.5rem; */
    font-size: 1em;
    transition: all .5s;
}

.input__main {
    inline-size: 100%;
    height: 2em;
    font-size: 1em;
    outline: none;
    border-bottom: 2px solid rgb(51, 105, 243);
    padding: .5em 0;
}

.input__error {
    color: rgb(255, 47, 47);
    font-size: .7em;
}